*, *::before, *::after {box-sizing: border-box};

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  /*image provided by jesus kiteque on unsplash*/
  background-image: url("../images/glasses.jpg");
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  /*image provided by ben kolde on unsplash*/
  background-image: url("../images/succulent.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  /*image provided by gerson repreza on unsplash*/
  background-image: url("../images/bridge.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

.dataTable {
  table-layout: fixed;
  width: 100%;
}

td {
  vertical-align: top;
  border-right: 1px solid black;
  padding-left: 10px;
}

td:last-child {
  border: none;
}

.skill {
  margin-bottom: 10%;
}
.description {
  margin-left: 5%;
}

.nextHeader {
  margin-top: 5%;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.projectGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap:20px;
  }

.panel{
  position:relative;
  background-color:black;
  justify-content:center;
  vertical-align:center;
}

.panel::before, .panel::after{
  pointer-events:none;
  content: '';
  position: absolute;
  top: 1.25em;
  bottom: 1.25em;
  left: 1.25em;
  right: 1.25em;
}

.panel::before{
  transform:scale(0,1);
  transition: transform ease-out 250ms;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  z-index: 1;
}

.panel::after{
  transform:scale(0,1);
  transition: transform ease-out 250ms;
  border-left: 1px solid white;
  border-right: 1px solid white;
  z-index: 1;
}

.panel:hover::before{
  transform: scale(1,1);
}

.panel:hover::after{
  transform: scale(1,1);
}

.panelImage{
  display:block;
  width:100%;
  height:100%;
  opacity:1;
}

.panel:hover .panelImage{
  opacity:0.7;
}

.content{
  position:absolute;
  color:white;
  left:23%;
  top:20%;
  opacity:0;
  transition: opacity ease-out 250ms;
  z-index:1;
}

.panel:hover .content{
  opacity:1
}

.skillsContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap:wrap;
}

.skillsContainer > div:first-child{
  border-right:1px solid black;
  flex:2
}

.skillsContainer > div:last-child{
  border-left:1px solid black;
  flex:2
}

.skillsChildren{
  padding:16px;
  flex:1;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.skillsChildren > div:first-child{
  margin-bottom:12px;
}

.skillsGrandChildren{
  flex:1;
}

